@font-face {
  font-family: "Google Sans";
  src: url("1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Google Sans Light 1";
  src: url("2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Google Sans Light 2";
  src: url("3.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}